//Core Colors
$white:                 white;
$black:                 #000000;
$black-light:           #2D343C;
$blue:                  #4D7CBE;
$blue-sky:              #EAF5FF;
$blue-sea:              #3A5573;
$blue-dark:             #142335;
$grey-light:            #EAECF3;
$grey-lighten:          #EFEFEF;
$orange:                #E65100;
$orange-light:          #F47631;
$grey:                  #2D343C;
$gold-light:            #FFF4ED;


//Page Colors
$grey-brown:            #595757;
$antique-white:         #d8e2eb;



//Platform Colors

//Text colors
$color-text:                    $grey;
$color-headers:                 $black-light;

//Buttons color
$color-button-orange:           $orange;
$color-button-orange-light:     $orange-light;
$color-button-white:            $white;
$color-button-blue-dark:        $blue-dark;


$site-background:               $white;
