$max-width: 1600px;
$min-width: 1070px;

$large-screen:          1366px;
$medium-screen:         1200px;
$small-screen:          768px;
$mobile-land-screen:    540px;

$mobile-screen:     $small-screen;
$ipad-screen:       1024px;
$iphone-5:          375px;
